        *{
			padding: 0;
			margin: 0;
			list-style: none;
			box-sizing: border-box;
		}
		.clearfix::after{
			content: '';
			display: block;
			clear: both;
		}
		.tab{
			width: 322px;
			border: 1px solid #DC1764;
			border-radius: 5px;
			margin-left: 20px;
			margin-bottom: 20px;
		}
		.header{
			padding: 10px 10px 0 10px;
			position: relative;
			overflow: hidden;
		}
		.header::before{
			content: '';
			width: 10px;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid #DC1764;
		}
		.header::after{
			content: '';
			width: 10px;
            position: absolute;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid #DC1764;
		}
		.header li{
			float: left;
			height: 40px;
			line-height: 40px;
			width: 100px;
			border-bottom: 1px solid #DC1764;
			text-align: center;
			cursor: pointer;
		}
		.active{
			border-left: 1px solid #DC1764;
			border-right: 1px solid #DC1764;
			border-top: 1px solid #DC1764;
			border-bottom: 1px solid #fff !important;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
		.content{
			padding: 10px;
			height: 250px;
		}
		.content li{
			height: 100%;

		}
		.hide{
			display: none;
		}